<footer class="py-12 bg-white xl:py-24">
    <div class="container px-4 mx-auto lg:px-0">
        <div class="grid gap-12 xl:grid-cols-6 xl:gap-24">
            <div class="col-span-2">
                <a href="{{ "" | relURL }}" class="flex items-center mb-4 font-semibold text-md">
                    <img src="/images/logo.svg" class="mr-4 h-8" alt="Creative Tim Logo">
                    <span>Soft UI Flowbite</span>  
                </a>
                <p class="max-w-lg text-gray-500">Soft UI Flowbite is a premium admin dashboard template featuring hundreds of UI components and pages based on Flowbite</p>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase">Resources</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://creative-tim.com" target="_blank" class="font-normal text-gray-600 hover:underline">Creative Tim</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com" target="_blank" class="font-normal text-gray-600 hover:underline">Flowbite</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://tailwindcss.com" target="_blank" class="font-normal text-gray-600 hover:underline">Tailwind CSS</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase">Help and support</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://www.creative-tim.com/contact-us" target="_blank" class="font-normal text-gray-600 hover:underline">Contact us</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://flowbite.com/docs/getting-started/introduction/" target="_blank" class="font-normal text-gray-600 hover:underline">Documentation</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase">Follow us</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://github.com/creativetimofficial" target="_blank" class="font-normal text-gray-600 hover:underline">Github</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://twitter.com/CreativeTim" target="_blank" class="font-normal text-gray-600 hover:underline">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.facebook.com/CreativeTim/" target="_blank" class="font-normal text-gray-600 hover:underline">Facebook</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="mb-6 text-sm font-semibold text-gray-600 uppercase">Legal</h3>
                <ul>
                    <li class="mb-4">
                        <a href="https://www.creative-tim.com/knowledge-center/privacy-policy/" target="_blank" class="font-normal text-gray-600 hover:underline">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.creative-tim.com/knowledge-center/terms-of-service/" target="_blank" class="font-normal text-gray-600 hover:underline">Terms &amp; Conditions</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://www.creative-tim.com/license" class="font-normal text-gray-600 hover:underline">EULA</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-8 bg-gray-200 lg:my-12">
        <span class="block text-center text-gray-600 font-"> &copy; 2019-{{ dateFormat "2006" now }} Built with ❤️ by <a href="https://creative-tim.com" class="hover:underline" target="_blank">Creative Tim</a> and <a href="https://flowbite.com" class="hover:underline" target="_blank">Flowbite</a>. All rights reserved.
        </span>
    </div>
</footer>